body {
    background-color: aquamarine;
}

p {
    color: palevioletred;
}

table,th {
    border: 2px solid black;
    
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    height: 50px;
    width: 25%; 
    
  }

.inputField {
    text-align: center;
    border: 20px solid palevioletred;
    padding-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

td {
    text-align: center;
    border: 2px solid black;
    
}

tr {
    border: 2px solid black;
}